<%- include('./partials/header.ejs') %>
<div class="container">
    <div class="card my-4">
        <div class="card-header">
            <h4>Rooms</h4>
        </div>
        <div class="card-body">
            <div id="room-container">
                <% Object.keys(rooms).forEach(room => { %>
                  <a href="/<%= room %>" class="btn btn-primary"><%= room %> - Join</a><br>
                <% }) %>
              </div>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-header">
            <h4>Create a new room</h4>
        </div>
        <div class="card-body">
            <form action="/room" method="post">
                <div class="form-group">
                    <label for="room">Room name</label>
                    <input type="text" name="room" id="room" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success">New Room</button>
            </form>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>