<%- include('./partials/header.ejs') %>
<script>
    const roomName = "<%= roomName %>"
</script>
<div class="container">
    <div class="card my-4 text-center card-messages">
        <div id="message-container"></div>
        <form id="send-container" class="my-4 form-inline">
            <input type="text" name="message-input" id="message-input" class="form-control col mr-2" required>
            <button type="submit" class="btn btn-success" id="send-button">Send</button>
        </form>
    </div>
</div>
<%- include('./partials/footer.ejs') %>